<div class="container mt-5 mb-5">
    <div class="row">

        <!-- left side -->
        <div class="col-md-3 col-opacity">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid mb-3" [ngClass]="{ 'rounded-circle' : user.image }" [src]="user.image || defaultUser.image" style="height: 128px;">
                    </div>
                    <h1 class="display-4 text-warning">{{ time }}</h1>
                    <div>{{ date }}</div>
                    <div>Welcome {{user.name || defaultUser.name }}</div>
                    <div>{{ user.id }}</div>
                </div>
            </div>
            <button class="btn btn-secondary btn-block mt-3" type="button" (click)="onProfileModalOpenClick($event)">
                <i class="far fa-edit"></i> Edit User Profile
            </button>
        </div>

        <!-- right side -->
        <div class="col-md-9 col-opacity">

            <div class="pt-3 d-md-none"></div>

            <!-- form -->
            <div [hidden]="hidForm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ note === null ? 'New Note' : 'Update Note' }}</h5>
                        <form novalidate [formGroup]="frm" (ngSubmit)="onSubmit($event)"
                            (keydown.enter)="handleEnterKeyPress($event)">
                            <div class="form-group">
                                <input type="text" class="form-control" #txtTitle placeholder="Enter title"
                                    formControlName="title"
                                    [ngClass]="{ 'is-invalid': (f.title.dirty || f.title.touched) && !f.title.valid, 'is-valid': f.title.valid }">
                                <div class="invalid-feedback">
                                    <span *ngIf="f.title.errors?.required">This field is required</span>
                                    <span *ngIf="f.title.errors?.minlength">At least 3 characters required</span>
                                </div>
                                <div class="valid-feedback">
                                    <span *ngIf="!f.title.errors">Validated Input</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="3" placeholder="Enter body"
                                    formControlName="body"></textarea>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control col-3" placeholder="Enter tag"
                                    (keyup.enter)="onTagAddClick($event)">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" id="button-addon2"
                                        (click)="onTagAddClick($event)">+</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="badge badge-secondary mr-1" *ngFor="let tag of tagList; let i = index;">
                                    {{ tag }} <i class="fas fa-times-circle" (click)="onTagRemoveClick($event, i)"></i>
                                </span>
                            </div>
                            <div>
                                <button class="btn btn-success mr-2" [disabled]="!frm.valid">Save Note</button>
                                <button type="reset" class="btn btn-outline-success mr-2" (click)="onResetClick($event)"
                                    [disabled]="frm.pristine">Reset</button>
                                <button type="button" class="btn btn-light float-right"
                                    (click)="onCancelClick($event)">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="pt-3"></div>
            </div>

            <!-- search -->
            <div class="row">
                <div class="col-md-2">
                    <button type="button" title="New Note" class="btn btn-warning btn-block"
                        (click)="onAddClick($event)">
                        <i class="fas fa-plus"></i>
                    </button>
                    <div class="pt-3 d-md-none"></div>
                </div>
                <div class="col-7 col-md-8">
                    <input type="text" class="form-control form-control-search mb-3" placeholder="Search title or tag"
                        [(ngModel)]="search" autofocus>
                </div>
                <div class="col-5 col-md-2">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary"
                            [ngClass]="{ 'btn-secondary': isGrid, 'btn-outline-secondary btn-order': !isGrid }"
                            (click)="onLayoutClick($event, true)">
                            <i class="fas fa-th"></i>
                        </button>
                        <button type="button" class="btn"
                            [ngClass]="{ 'btn-secondary': !isGrid, 'btn-outline-secondary btn-order': isGrid }"
                            (click)="onLayoutClick($event, false)">
                            <i class="fas fa-th-list"></i>
                        </button>
                    </div>
                    <div class="pt-3 d-md-none"></div>
                </div>
            </div>

            <!-- list -->
            <div [ngClass]="{ 'card-columns': isGrid }">
                <div class="card mb-3" *ngFor="let note of filterNoteList.slice().reverse(); let i = index">
                    <div class="card-body">
                        <button class="btn btn-light text-danger btn-sm float-right btn-action" type="button"
                            (click)="onRemoveClick($event, note);">
                            <i class="fas fa-trash"></i>
                        </button>
                        <button class="btn btn-light text-success mr-2 btn-sm float-right btn-action" type="button"
                            (click)="onEditClick($event, note);">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <h4 class="card-title text-warning">{{ note.title }}</h4>
                        <p class="card-text card-text-optimum">{{ note.body }}</p>
                        <span class="badge badge-secondary mr-1" *ngFor="let tag of note.tags">{{ tag }}</span>
                    </div>
                    <div class="card-footer text-muted" style="font-size: 12px;">
                        <div>Dated: {{ note.created | date: 'medium' }}</div>
                        <div>Last Updated {{ note.updated | date: 'medium' }}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" [ngClass]="{ 'show modal-show' : showModal, 'modal-hide': !showModal }" id="modelId"
    tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form class="modal-content" novalidate [formGroup]="frmModal" (ngSubmit)="onModalSubmit($event)">
            <div class="modal-header">
                <h5 class="modal-title">Edit User Profile</h5>
                <button type="button" class="close" (click)="onProfileModalCloseClick($event)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">                    
                    <input type="text" class="form-control" placeholder="Enter ID" formControlName="id">
                </div>
                <div class="form-group">                    
                    <input type="text" class="form-control" placeholder="Enter name" formControlName="name">
                </div>
                <div class="form-group">                    
                    <input type="text" class="form-control" placeholder="Enter image URL" formControlName="url">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    (click)="onProfileModalCloseClick($event)">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
<div class="modal-backdrop show" *ngIf="showModal"></div>